<div class="form-wrapper">
  <h1>Create Account</h1>

    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="form-item">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="form-item">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="form-item">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="form-item">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    <div class="button-panel">
      <input type="submit" class="button" title="Create Account" value="Create Account"></input>
    </div>
    <% end %>
  <div class="form-footer">
    <p><a href=/users/sign_in>Sign In</a></p>
  </div>
</div>