<header class="top-page-header">
  <div class="search-bar-contents">
    <%= link_to 'Learning Records', root_path, class: "header-logo" %>
    <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "キーワードから検索する", class: "input-box" %>
    <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  </div>

  <div class="nav">
    <div class="list-left">
      <%= link_to '新規投稿', new_post_path, class:"new-post" %>
    </div>
    <ul class="lists-right">
    <% if user_signed_in? %>
        <li><%= link_to current_user.name, user_path(current_user), class: "user-name" %></li>
        <li><%= link_to 'サインアウト', destroy_user_session_path , method: :delete, class: "logout" %></li>
      </div>
    <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <li><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "guest-login" %>
      </div>
    <% end %>
    </ul>
  </div>
</header>

<div class="main">
  <div class="main-image">
    <%= image_tag 'study.jpg', :width => '70%', :height => '350px' %>
  </div>
</div>