<%= render partial: "header", locals: { post: @posts } %>

<div class="contents">
  <h1>投稿一覧</h1>
  <ul class='post-lists'>

  <% @posts.each do |post| %>
    <li class='list'>
      <h3 class='post-title'>
          <%= post.title %>
      </h3>
    <%= link_to post_path(post.id), method: :get do %>
      <div class='post-img-content'>
        <%= image_tag post.image, class: "post-img" %>
      </div>
    <% end %>
    </li>
  <% end %>
</div>
<div class="page">
  <%= paginate @posts %>
</div>
