<%= render partial: "header", locals: { post: @posts } %>

<div class ="new-post">
  <h1>投稿内容</h1>

<%= form_with model: @post, class: 'form', local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>

  <div class="form-input">
    <p><label>タイトル</label></p>
    <%= f.text_field :title, class: 'form-title' %>

    <p><label>結論</label></p>
    <%= f.text_area :conclusion, class: 'form-conclusion' %>

    <p><label>内容</label></p>
    <%= f.text_area :content, class: 'form-content' %>

    <p>カテゴリー</p>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"post-category"}) %>

    <p >学習時間</p>
    <%= f.collection_select(:study_time_id, StudyTime.all, :id, :name, {}, {class:"select-box", id:"post-study-time"}) %>
 
    <div class="form-image">
      <p>画像</p>
      <%= f.file_field :images, name: 'post[images][]', id:"post-image",  multiple: true %>
      <div id="image-list"></div>
    </div>

    <% @post.images.each do |image| %>
      <%= image_tag image, class: 'images' %>
    <% end %>

  <%= f.submit '投稿する', class: 'submit-btn' %>

  <p><%= link_to '戻る', root_path, class: 'post-back-btn' %></p>
  </div>
<% end %>
</div>
