<%= render partial: "header", locals: { post: @posts } %>

<div class="show-post-date">
  <div class="post-category">カテゴリー : <%= @post.category.name %></div>
  <div class="post-date"><%= @post.created_at.strftime('%Y/%m/%d') %></div>
</div>

<div class="post-show">
  <div class="post-box">
    <div class="title">
      <%= @post.title %>
    </div>

    <div class='post-img-content'>
      <% if @post.images.attached? %>
      <% @post.images.each do |image| %>
        <%= image_tag image, :width => '80%', :height => '60%', class: 'post-images' %> <br>
        <% end %>
      <% end %>
    </div>
  </div>


    <div class="post-explain-box">
      <span class="box-title">結論</span>
      <p><%= @post.conclusion %></p>
    </div>

    <div class="content">
      <%= @post.content %>
    </div>

    <div class="study-time">
      <p>学習時間 : <%= @post.study_time.name %></p>
    </div>

    <div class="post-btn">
      <% if user_signed_in? %>
        <% if current_user.id == @post.user_id %>
        <%= link_to '編集', edit_post_path(@post.id), method: :get, class: "post-edit-btn" %>
        <%= link_to '削除', post_path(@post.id), method: :delete, class:'post-destroy-btn' %>
        <% end %>
      <% end %>
    </div>

    <div class="container">
      <% if user_signed_in? %>
        <p><%= form_with(model: [@post, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2", class: "comment-text-box"%>
          <%= form.submit "SEND", class: "comment-send-btn" %></p>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
    </div>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
    </div>

    <%= link_to '戻る', root_path, class:'post-back-btn' %>
  </div>
</div>